/*
 *= require foundation/globals
 *= require foundation/grid
 *= require foundation/forms
 *= require foundation/ui
 *= require foundation/typography
 *= require admin/jquery.plupload.queue
*/

header {
  background-color: #000;
  margin-bottom: 20px;
}

nav, header a {
  color: #FFF;
}

nav {
  padding: 5px;
  float: right;
}

nav .label {
  margin-left: 5px;
}

span {
  margin: 3px;
}

.panel img {
  padding: 5px;
}