/*
 *= require foundation/globals
 *= require foundation/grid
 *= require foundation/forms
 *= require foundation/ui
 *= require foundation/typography
 *= require jquery.fancybox-1.3.4
*/

body {
  background-color: #000;
}

div.main {
  background-image:url("http://placehold.it/960x1050");
  min-height: 1050px;
}

.row .four {
  float: left  !important;
  max-height: 1050px;
  background-color: rgba(130, 130, 130, .2);
  margin-left: 40px;
  padding: 10px;
}

form.nice input.input-text, form.nice textarea {
  width: 295px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

form.nice input[type="submit"] {
  float: right;
}